bin/mitamae-*

# vim
config/.vim/plugged
config/.vim/.netrwhist

# vimperator
config/.vimperator/info
config/.vimperator/vimppm
config/.vimperator/plugin

# fish
config/fish/fish_history
config/fish/completions
config/fish/conf.d
config/fish/functions/fisher.fish
config/fish/fishd*

# zsh
.zsh_sessions

