config/.vim/plugged
config/.vim/.netrwhist
config/.vimperator/info
config/.vimperator/vimppm
config/.vimperator/plugin

config/fish/fish_history
config/fish/completions
config/fish/conf.d
config/fish/functions/fisher.fish
config/fish/fishd*
