[user]
  email = munisystem@gmail.com
  name = munisystem
[core]
  editor = vim
  excludesfile = ~/.gitignore
[color]
  status = auto
  diff = auto
  branch = auto
  interactive = auto
  grep = auto
[alias]
  i = init
  a = add
  c = commit
  p = push
  b = branch
  co = checkout
  r = rebase
  re = reset
  ref = reflog
  s = status
[ghq]
  root = ~/repos/src
