[user]
  email = munisystem@gmail.com
  name = Yuichi Saito
  signingkey = 0A1BACF847A81EA5
[core]
  editor = nvim
  excludesfile = ~/.gitignore
[color]
  status = auto
  diff = auto
  branch = auto
  interactive = auto
  grep = auto
[alias]
  sync = !branch=($(git branch -l main master | sed 's/^* //')) && git switch $branch && git pull origin $branch && git fetch -p origin && git branch -d $(git branch --merged | grep -v $branch | grep -v '*')
[ghq]
  root = ~/repos/src
[github]
  user = munisystem
[url "git@github.com:"]
  insteadOf = https://github.com/
[commit]
  gpgsign = true
[gpg]
  program = /opt/homebrew/bin/gpg
