[user]
  email = munisystem@gmail.com
  name = Yuichi Saito
  signingkey = 0A1BACF847A81EA5
[core]
  editor = nvim
  excludesfile = ~/.gitignore
[color]
  status = auto
  diff = auto
  branch = auto
  interactive = auto
  grep = auto
[ghq]
  root = ~/repos/src
[github]
  user = munisystem
[url "git@github.com:"]
  insteadOf = https://github.com/
[commit]
  gpgsign = true
