[user]
  email = munisystem@gmail.com
  name = Yuichi Saito
[core]
  editor = nvim
  excludesfile = ~/.gitignore
[color]
  status = auto
  diff = auto
  branch = auto
  interactive = auto
  grep = auto
[alias]
  i = init
  a = add
  c = commit
  p = push
  b = branch
  co = checkout
  r = rebase
  re = reset
  ref = reflog
  s = status
  pr = !hub browse -- pull/$(git symbolic-ref --short HEAD)
  del = !git branch --merged master | grep -vE '^\\*|master$|develop$' | xargs -I % git branch -d %
[ghq]
  root = ~/repos/src
[github]
  user = munisystem
  privatekey = /Users/muni/.ssh/keys/github
